<div>
    <label>user name:</label> <input #userName>
    <label>user email:</label> <input #userEmail>
    <button (click)="createUser(userName.value, userEmail.value);
        userName.value=''; userEmail.value=''">
        Add
    </button>
</div> 

<h1>
    Users
</h1>

<div class="userCard" *ngFor="let user of users">
    <div><span>Id:</span>{{user.id}}</div>
    <div><span>Username:</span>{{user.userName}}</div>
    <div><span>Email:</span>{{user.email}}</div>
    <button class="delete" 
        (click)="deleteUser(user); $event.stopPropagation()">x</button>    
</div>